@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

li {
  list-style-type: none;
}

.boton-carrito {
  text-decoration: none;
  color: black;
}

.boton-volver {
  text-decoration: none;
  color: black;
}

.Logo {
  display: flex;
  height: 80px;
  width: 80px;
}

.grilla-inicio {
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "niño match hombre mujer";
  gap: 1rem;
}
.grilla-inicio .hijo {
  height: 300px;
  width: 300px;
  padding: 2%;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  transition: hight 1s, width 1s;
  margin-inline: auto;
}
.grilla-inicio .nino {
  background-image: url("../img/nino.jpg");
  background-position: center;
  background-size: cover;
  grid-area: niño;
}
.grilla-inicio .match {
  background-image: url("../img/Inicio.jpg");
  background-position: center;
  background-size: cover;
  grid-area: match;
}
.grilla-inicio .hombre {
  background-image: url("../img/hombre.jpg");
  background-position: center;
  background-size: cover;
  grid-area: hombre;
  text-align: center;
}
.grilla-inicio .mujer {
  background-image: url("../img/mujer.jpg");
  background-position: center;
  background-size: cover;
  grid-area: mujer;
}
.grilla-inicio .hijo:hover {
  height: 350px;
  width: 350px;
}

.text-familia {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 20%;
}

.fondo-historia {
  padding: 5%;
  font-size: 20px;
  text-align: center;
}

.fondito {
  background-color: rgba(255, 255, 255, 0.76);
  padding-inline: 2%;
}

.slidepls {
  height: 200px;
  width: 100px;
}

.background-fotiwi {
  height: 100vh;
  background-size: cover;
  background-image: url("../img/horizontal (2).jpg");
}

.carrusel-img {
  display: flex;
  justify-content: center;
}

.texto-carrusel {
  background-color: rgba(0, 0, 0, 0.253);
}

.fondo-carrusel {
  background-color: black;
}

.centrar {
  text-align: center;
}

.pulga {
  margin: 10px;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.row {
  margin-inline: 0;
}

.weare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-bottom: 20px;
  margin-top: 1.5rem;
}

.imagen-nosotros {
  display: flex;
  width: 600px;
  align-self: center;
  margin-bottom: 30px;
}

.sesion-mid {
  max-width: 400px;
}

.margin-left {
  margin-inline: 25%;
  margin-bottom: 20px;
}

.margin-cuenta {
  margin-left: 35%;
}

.card-gap {
  margin: 10px;
}

.alinear {
  margin-top: 150px;
  margin-inline: 0;
}

.acordeon {
  margin-inline: 25%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.img-cuenta {
  width: 100%;
}

.media-alinear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disponibilidad {
  width: 200px;
}

.link {
  text-decoration: none;
  color: black;
}

.wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: rgb(33, 37, 41);
}

aside {
  padding: 2rem;
  color: white;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: white;
  margin: 1rem;
  margin-left: 0;
  border-radius: 1rem;
  padding: 3rem;
}

.titulo-carrito {
  color: rgb(33, 37, 41);
}

.contenedor-producto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.producto-imagen {
  max-width: 100%;
  border-radius: 1rem;
  max-height: 300px;
}

.producto-detalle {
  background-color: rgb(33, 37, 41);
  color: whitesmoke;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.producto-titulo {
  font-size: 1rem;
}

.producto-agregar {
  padding: 0.4rem;
  background-color: whitesmoke;
  text-transform: uppercase;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid whitesmoke;
}

.producto-agregar:hover {
  background-color: rgb(33, 37, 41);
  color: whitesmoke;
}

.boton-menu {
  background-color: transparent;
  border: 0;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.menu-botones {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boton-menu-active {
  background-color: white;
  color: rgb(33, 37, 41);
  width: 120%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}

.boton-carrito {
  margin-top: 2rem;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  color: rgb(33, 37, 41);
  padding: 0.5rem;
  border-radius: 1rem;
  padding-right: 1.5rem;
}

.carrito-producto small {
  font-size: 0.75rem;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: rgb(240, 240, 240);
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-comprar {
  border: 0;
  background-color: rgb(33, 37, 41);
  color: whitesmoke;
  margin-top: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.carrito-acciones-total {
  display: flex;
  border: 0;
  background-color: rgb(240, 240, 240);
  margin-top: 1rem;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-transform: uppercase;
  gap: 1rem;
}

.carrito-acciones-der {
  display: flex;
}

.numero {
  background-color: whitesmoke;
  color: black;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

.slidepls {
  display: flex;
  justify-self: center;
  align-self: center;
  height: 95%;
  width: 95%;
}

.slidepls1:hover {
  display: flex;
  justify-self: center;
  align-self: center;
  height: 95%;
  width: 95%;
  transition: height 1s, width 1s;
}

.slidepls1:hover {
  height: 100%;
  width: 95%;
}

footer {
  top: 100%;
  position: sticky;
}

.footerend {
  text-align: center;
  padding: 10px;
  background-color: whitesmoke;
  margin-top: auto;
}

a {
  padding: 5px;
}

@media screen and (max-width: 992px) {
  .offset-md-2 {
    text-align: center;
  }
  .grilla-inicio {
    grid-template-columns: 2fr;
    grid-template-rows: 2fr, 2fr;
    grid-template-areas: "niño match" "hombre mujer";
    height: auto;
    width: auto;
  }
  .grilla-inicio .hijo {
    width: 45vw;
    margin-inline: 0;
  }
  .margin-cuenta {
    margin-left: 30%;
    margin-right: auto;
  }
  .margin-left {
    margin-inline: 25%;
    margin-right: auto;
  }
  .disponibilidad {
    width: -moz-max-content;
    width: max-content;
    margin-left: 10%;
  }
  .card {
    min-width: 750px;
  }
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  .card-gap {
    margin-left: 10%;
  }
}
@media screen and (max-width: 768px) {
  .offset-md-2 {
    text-align: center;
  }
  .grilla-inicio {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 4, 1fr;
    grid-template-areas: "niño" "match" "hombre" "mujer";
    height: auto;
    width: auto;
  }
  .grilla-inicio .hijo {
    width: 100vh;
    margin-inline: auto;
  }
  .alinear {
    display: flex;
    flex-direction: column;
    margin-inline: 0;
    margin-top: 20px;
    text-align: center;
  }
  .margin-cuenta {
    margin-left: 25%;
    margin-right: auto;
  }
  .margin-left {
    margin-inline: 25%;
    margin-right: auto;
  }
  .disponibilidad {
    width: -moz-max-content;
    width: max-content;
  }
  .card {
    min-width: 750px;
  }
  .reel-alinear {
    margin-inline: 27%;
  }
  .media-phone {
    display: flex;
    flex-direction: column;
    margin-inline: 25%;
  }
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  .card-gap {
    margin-left: 1px;
  }
}
@media screen and (max-width: 480px) {
  .offset-md-2 {
    text-align: center;
  }
  .grilla-inicio {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 4, 1fr;
    grid-template-areas: "niño" "match" "hombre" "mujer";
    height: auto;
    width: auto;
  }
  .grilla-inicio .hijo {
    width: 100vw;
    margin-inline: 0;
  }
  .alinear {
    display: flex;
    flex-direction: column;
    margin-inline: 0;
    margin-top: 20px;
    text-align: center;
  }
  .text-familia {
    margin-inline: 0;
  }
  .margin-left {
    margin-inline: auto;
  }
  .margin-cuenta {
    margin-left: 10%;
  }
  .disponibilidad {
    width: -moz-max-content;
    width: max-content;
  }
  .card {
    min-width: 460px;
  }
  .acordeon {
    margin-inline: 0;
  }
  .reel-alinear {
    margin-inline: 13%;
  }
  .media-phone {
    display: flex;
    flex-direction: column;
    margin-inline: 25%;
  }
  .container-fluid {
    margin: 0;
    padding: 0;
  }
  .card-gap {
    margin-left: 1px;
  }
  .imagen-nosotros {
    width: 480px;
  }
}/*# sourceMappingURL=estilos.css.map */