@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    height: 100%;

}

body {
    min-height: 100%;
}

.Logo {
    display: flex;
    height: 80px;
    width: 80px;
}

.niño {

    background-image: url("./img/niño.jpg");
    background-position: center;
    background-size: cover;
    grid-area: niño;
}

.match {

    background-image: url("./img/Inicio.jpg");
    background-position: center;
    background-size: cover;
    grid-area: match;
}

.hombre {

    background-image: url("./img/hombre.jpg");
    background-position: center;
    background-size: cover;
    grid-area: hombre;
    text-align: center;

}

.mujer {
    background-image: url("./img/mujer.jpg");
    background-position: center;
    background-size: cover;
    grid-area: mujer;
}

.hijo {
    height: 300px;
    width: 300px;
    padding: 2%;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    transition: hight 1s, width 1s;

}

.hijo:hover {
    height: 350px;
    width: 350px;
}

.fondito {
    background-color: rgba(255, 255, 255, 0.596);
    padding-inline: 2%;
}

.centrar {
    text-align: center;


}

.footerend {
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
    margin-top: auto;
}

footer {
    top: 100%;
    position: sticky;
}

.pulga {
    margin: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;

}

.weare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-bottom: 70px;
    margin-top: 1.5rem;
}

.imagen-nosotros {
    display: flex;
    width: 600px;
    align-self: center;
    margin-bottom: 30px;
}

.texto-carrusel {
    background-color: rgba(0, 0, 0, 0.253);
}

.fondo-carrusel {
    background-color: black;
}

.margen-bot {
    margin-bottom: 15px
}

.sesion-mid {
    max-width: 400px;
}

.margin-left {
    margin-left: 450px;
}

.fondo-historia {

    padding: 5%;
    font-size: 20px;
}

.card-gap {
    margin: 10px;
}

.slidepls {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 95%;
    width: 95%;
    transition: height 1s, width 1s;
}

.slidepls:hover {
    height: 100%;
    width: 110%;
}

.slidepls1:hover {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 95%;
    width: 95%;
    transition: height 1s, width 1s;
}

.slidepls1:hover {
    height: 100%;
    width: 105%;
}

.alinear {
    margin-top: 150px;
    margin-inline: 0;
}

.text-familia {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 20%;
}

.grilla-inicio {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "niño match hombre mujer";
    gap: 1rem;

}

@media screen and (max-width: 480px) {
    .offset-md-2 {
        text-align: center;
    }

    .grilla-inicio {
        grid-template-columns: 1fr;
        grid-template-rows: repeat 4, 1fr;
        grid-template-areas:
            "niño"
            "match"
            "hombre"
            "mujer";
        height: auto;
        width: auto;
    }

    .alinear {
        display: flex;
        flex-direction: column;
        margin-inline: 0;
        margin-top: 20px;
        text-align: center;
    }

    .carrusel-img {
        width: 480px;
    }

    .text-familia {
        margin-inline: 0;
    }

    .margin-left {
        margin-inline: auto;
    }

    .disponibilidad {
        width: max-content;
    }

    .card {
        min-width: 460px;
    }
}