.centrar {
    text-align: center;
}


.pulga {
    margin: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;

}

.row {
    margin-inline: 0;
}

.weare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-bottom: 20px;
    margin-top: 1.5rem;
}

.imagen-nosotros {
    display: flex;
    width: 600px;
    align-self: center;
    margin-bottom: 30px;
}

.sesion-mid {
    max-width: 400px;
}

.margin-left {
    margin-inline: 25%;
    margin-bottom: 20px;
}
.margin-cuenta{
    margin-left: 35%;
}

.card-gap {
    margin: 10px;
}

.alinear {
    margin-top: 150px;
    margin-inline: 0;

}

.acordeon {
    margin-inline: 25%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.img-cuenta {
    width: 100%
}

.media-alinear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.disponibilidad{
width: 200px;
}