* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
}
li {
    list-style-type: none;
}
.boton-carrito {
    text-decoration: none;
    color: black;
}
.boton-volver {
    text-decoration: none;
    color: black;
}